<table style="width:50%; text-align: left">
        <% @search.each do |word| %>
            <tr><th>-----------------</th></tr>
            <tr>
                <th>rumi:</th>
                <th><%= word.rumi %></th>
            </tr>
            <tr>
                <th>akhar thrah:</th>
                <th><%= word.akharThrah %></th>
            </tr>
            <tr>
                <th>source:</th>
                <th><%= word.source %></th>
            </tr>
            <tr>
                <th>vietnamese:</th>
                <th><%= word.vietnamese %></th>
            </tr>
            <tr>
                <th>french:</th>
                <th><%= word.french %></th>
            </tr>
            <tr>
                <th>pronunciation:</th>
                <th><%= word.pronunciation %></th>
            </tr>
            <tr>
                <th>full description:</th>
                <th><%= word.fullDescription %></th>
            </tr>

        <% end %>
    </table>